

/* Estilo da imagem do cartão */
.card img {
    width: 80%; /* Largura total do cartão */
    height: auto; /* Mantém a proporção da imagem */
    
}

.img{
    display: flex;
    justify-content: center;
}

/* Estilo do corpo do cartão */
.card-body {
    padding: 20px;
}

/* Estilo do título do cartão */
.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
    margin-top: 0;
    
}

/* Estilo do texto do cartão */
.card-text {
    font-size: 1em;
    margin-bottom: 20px;
}

.tag{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nunito", sans-serif;
    padding: 1rem;
}


