.theme{
    width: 3.6rem;
    padding: .2rem;
    background-color:dimgray;
    border-radius: 10px;
    margin: 1rem;
    border: 0;
    color: aliceblue;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #eeedec
}