img{
    width: 25rem;
}

/* Centralizar o conteúdo dentro do <nav> */
nav div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para o formulário */
nav form {
    display: flex;
    align-items: center;
    margin: 5rem 0 0 1rem;
}

