img{
    width: 25rem;
}

/* Centralizar o conteúdo dentro do <nav> */
nav div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}

/* Estilos para o formulário */
nav form {
    display: flex;
    align-items: center;
    margin: 1rem 0 5rem 0; 
}


