/* Estilos para o botão */
.carregar{
    padding: 5px 10px;
    font-size: 20px;
    color: white;
    background-color: #2c72b8; /* Cor azul para o botão */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Nunito", sans-serif;
}

.button{
    margin: 0;
    padding: 5rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
