li{
  list-style: none;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    /* background-color: #f9f9f9; */
}

.profile-title {
    text-transform: capitalize;
    font-size: 2.5rem;
    /* color: #333; */
}

.profile-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background: #fff; */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    width: 80%;
    max-width: 800px;
    margin-bottom: 100px;
    align-items: flex-start;
}

.profile-image {
    width: 30%;
    height: 30%;
    margin-right: 20px;
    
}

.profile-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 75%;
    margin-top: 2rem;
}

.profile-table {
    width: 90%;
    border-collapse: collapse;
}

.profile-table th, .profile-table td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.profile-table th {
    /* background-color: #f2f2f2; */
    font-weight: bold;
}

/* .profile-table td {
    background-color: #fff;
} */

/* .profile-table tr:hover {
    background-color: #f1f1f1;
} */

.profile-details p {
    font-size: 1.2rem;
    margin: 5px 0;
}

/* .profile-details strong {
    color: #555;
} */

.varicacoes-image{
    width: 20%;
    height: auto;
    margin-left: 3rem;
}

h4{
    text-align: center;
    margin-bottom: 10px;
}

.moves{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.moves p {
    padding: 5px;
    margin: 3px;
    font-size: 15px;
    /* background-color: #ddd; */
    border-radius: 15px;    
}



@media (max-width: 500px){
    .profile-card{
        flex-direction: column;
    }
    .profile-image{
        width: 90%;
    }
    .varicacoes-image{
        width: 50%;
    }
}